h3 {
	font-family: Times New Roman;
}

p {
	font-family: Verdana;
	font-size: 12px;
	color: #080808;
}

li {
	font-family: Verdana;
	font-size: 12px;
	color: #080808;
}

a {
	font-family: Verdana;
	font-size: 12px;
	text-decoration: none;
	color: #080808;
	transition: all 0.1s ease-out;
}

a:hover {
	color: #bfbfbf;
	transition: all 0.1s ease-in;
}

a:visited {
	color: #080808;
}