/* font declarations */

@font-face {
	font-family: Exo Regular;
	src: url('../cursor_fonts/exo-regular-webfont.eot');
	src: url('../cursor_fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../cursor_fonts/exo-regular-webfont.woff') format('woff'), url('../cursor_fonts/exo-regular-webfont.ttf') format('truetype'), url('../cursor_fonts/exo-regular-webfont#exo-regular-webfont') format('svg');
}

/* all attributes */

.row {
	width: 101.1%;
}

a {
	color: #080808;
}

a:hover {
	background-color: #26A65B;
	color: #bfbfbf;
}

a:focus {
	color: #080808;
}

.section-title {
	font-family: Telegrafico;
	font-size: 30px;
	text-align: center;
}

hr {
	height: 4px;
	background-color: #26A65B;
	width: 20%;
}

.ctr-btn {
	text-align: center;
}

/* navbar */

#navcont {
	position: fixed;
	width: 101.1%;
	background-color: #080808;
	z-index: 1;
}

.nav {	
	background-color: #080808;
	z-index: 1;
}

.navbar-nav {
	background-color: #080808;
	float: right;
}

.navbar-default .navbar-inverse {
	background-color: #26A65B;
	background-image: none;
	background-repeat: no-repeat;
}

.nav li {
	background-color: #080808;
	transition: all 0.3s ease-out;
	border-bottom: 4px solid #080808;
}

.nav li:hover {
	background-color: #1a1a1a;
	transition: all 0.3s ease-out;
	border-bottom: 4px solid #26a65b;
}

.nav li a {
	font-family: Sintony;
	color: #f8f8f8;
}

.nav li a:visited {
	font-family: Sintony;
	color: #f8f8f8;
}

.nav li a:hover {
	font-family: Sintony;
	color: #f8f8f8;
	background-color: #1a1a1a;
	transition: all 0.3s ease-out;
}

/*.navbar-nav li a:focus {
	font-family: Sintony;
	color: #080808;
	background-color: #008B45;
}*/

/*.navbar-nav #home:focus {
	font-family: Sintony;
	color: #080808;
	background-color: #26a65b;
}*/

/* #title */

#title {
	background-color: #26a65b;
}

#title h3 {
	color: #f8f8f8;
	text-align: center;
	font-family: Telegrafico;
	font-size: 30px;
}

#title h1 {
	color: #f8f8f8;
	text-align: center;
	font-family: Exo Regular;
	font-size: 40px;
}

/* #org */

/* #committees */
#committees h3 {
	text-align: center;
	font-size: 15px;
}

/* #events */
	
#events h3 {
	text-align: center;
}

#events h5 {
	text-align: center;
}

#events p {
	text-align: center;
}

/* #contact */

#contact {
	background-color: #26A65B;
}

#contact h5 {
	font-family: ;
	font-size: 18px;
}

#contact p {
	text-align: center;
}